@import "src/styles/colors.scss";

.btn-success {
  background-color: $color-success;
  border: 0;
  color: $color-secondary;
}

.btn-info {
  background-color: $color-info;
  border: 0;
  color: white;
}

.btn-primary {
  background-color: $color-primary;
  border: 0;
  color: white;
}

.btn-disabled {
  background-color: $color-grey;
  border: 0;
  color: black;
}

.btn-success-long {
  background-color: $color-success;
  border: 0;
  color: $color-secondary;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
