<div class="container col-lg-10" >
  <div class="d-flex justify-content-between mb-4">
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (dateSelect)="onDateSelection($event)" [dayTemplate]="datepicker" class="bg-white w-auto"></ngb-datepicker>
    <div *ngIf="selectedReservationsForUsersAdvertisements.length != 0 || selectedUsersReservations.length != 0 " class="day-detail ms-3 col-8">
      <div class="d-flex justify-content-between">
        <p class="date-tag p-2 mt-2 mb-2 me-2 col-2"
           [ngClass]="{active: showMyReservations}"
           (click)="showMyReservations = !showMyReservations">My reservations</p>
        <p class="date-tag p-2 mt-2 mb-2 ms-2 col-2"
           [ngClass]="{active: !showMyReservations}"
           (click)="showMyReservations = !showMyReservations">Reservations for me</p>
      </div>

      <div *ngIf="showMyReservations">
        <div *ngFor="let res of selectedUsersReservations" class="d-flex justify-content-between align-items-center m-2"
             [ngClass]="{closed: res.reservationState === 'Closed', declined: res.reservationState === 'Declined'}">
          <div class="date-text col-2">{{res.dateFromString}}<br>-<br>{{res.dateToString}}</div>

          <div class="conversation-ad-section d-flex justify-content-between align-items-center w-100 pe-2 h-100"
               (click)="reservationClicked(res)">
            <img src="https://localhost:44377/images{{res.advertisement.imageLocation}}" class="img-ad m-1" alt="...">
            <div class="w-100 ps-2 pe-2">
              <div class="actions text-center d-flex justify-content-end">
                <div *ngIf="res.reservationState === 'Created'">
                  <button class="btn btn-success btn-x-sm p-1" (click)="accept(res.id)">Accept</button>
                  <button class="btn btn-info btn-x-sm p-1" (click)="decline(res.id)">Decline</button>
                </div>
                <div *ngIf="res.reservationState === 'Accepted'">
                  <button class="btn btn-success btn-x-sm p-1" (click)="open(evaluationPopUp, res)">Close</button>
                  <div>
                    <ng-template #evaluationPopUp let-modal>
                      <div class="modal-header">
                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                      </div>
                      <div class="modal-body d-flex justify-content-center">
                        <app-evaluation-popup class="w-100"
                                              [userTo] = res.advertisement.user
                                              [advertisementId] = res.advertisement.id
                                              [reservationId] = res.id
                                              [isLender] = false
                                              (evaluationAdvertiser)="submitEvaluationAdvertiser($event)"
                                              (evaluationLender)="submitEvaluationLender($event)">
                        </app-evaluation-popup>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div *ngIf="res.reservationState === 'Declined'">
                  <p class="small-font">Declined</p>
                </div>
                <div *ngIf="res.reservationState === 'Resigned'">
                  <p class="small-font">Resigned</p>
                </div>
                <div *ngIf="res.reservationState === 'Closed'">
                  <p class="small-font">Closed</p>
                </div>
              </div>
              <h6 class="title pt-0 mb-1">{{res.advertisement?.title}}</h6>
              <div class="d-flex justify-content-between">
                <p class="ad-details">{{res.advertisement?.location}}</p>
                <p class="ad-details">{{res.advertisement?.price}} Ft</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="!showMyReservations">
        <div *ngFor="let res of selectedReservationsForUsersAdvertisements" class="d-flex justify-content-between align-items-center m-2"
             [ngClass]="{closed: res.reservationState === 'Closed', declined: res.reservationState === 'Declined'}">
          <div class="date-text col-2">{{res.dateFromString}}<br>-<br>{{res.dateToString}}</div>

          <div class="conversation-ad-section d-flex justify-content-between align-items-center w-100 pe-2 h-100"
               (click)="reservationClicked(res)">
            <img src="https://localhost:44377/images{{res.advertisement.imageLocation}}" class="img-ad m-1" alt="...">
            <div class="w-100 ps-2 pe-2">
              <div class="actions text-center d-flex justify-content-end">
                <div *ngIf="res.reservationState === 'Created'">
                  <button class="btn btn-success btn-x-sm p-1" (click)="accept(res.id)">Accept</button>
                  <button class="btn btn-info btn-x-sm p-1" (click)="decline(res.id)">Decline</button>
                </div>
                <div *ngIf="res.reservationState === 'Accepted'">
                  <button class="btn btn-success btn-x-sm p-1" (click)="open(evaluationPopUp, res)">Close</button>
                  <div>
                    <ng-template #evaluationPopUp let-modal>
                      <div class="modal-header">
                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                      </div>
                      <div class="modal-body d-flex justify-content-center">
                        <app-evaluation-popup class="w-100"
                                              [userTo] = res.advertisement.user
                                              [advertisementId] = res.id
                                              [reservationId] = res.id
                                              [isLender] = false
                                              (evaluationAdvertiser)="submitEvaluationAdvertiser($event)"
                                              (evaluationLender)="submitEvaluationLender($event)">
                        </app-evaluation-popup>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div *ngIf="res.reservationState === 'Declined'">
                  <p class="small-font">Declined</p>
                </div>
                <div *ngIf="res.reservationState === 'Resigned'">
                  <p class="small-font">Resigned</p>
                </div>
                <div *ngIf="res.reservationState === 'Closed'">
                  <p class="small-font">Closed</p>
                </div>
              </div>
              <h6 class="title pt-0 mb-1">{{res.advertisement?.title}}</h6>
              <div class="d-flex justify-content-between">
                <p class="ad-details">{{res.advertisement?.location}}</p>
                <p class="ad-details">{{res.advertisement?.price}} Ft</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-success-long d-flex mt-2 mb-2" (click)="showReservationsForUser = !showReservationsForUser">
    <p class="m-1">Reservations for my advertisements</p>
    <i [hidden]="showReservationsForUser" class="fa fa-angle-right m-1 fa-lg"></i>
    <i [hidden]="!showReservationsForUser" class="fa fa-angle-down m-1 fa-lg"></i>
  </button>
  <div *ngIf="loadingReservationsForUser && showReservationsForUser" class="d-flex justify-content-center">
    <div class="spinner-border m-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!loadingReservationsForUser && showReservationsForUser" class="card-container d-flex flex-wrap justify-content-between" >
    <div *ngFor="let res of reservationsForUsersAdvertisements" class="w-100 d-flex justify-content-between align-items-center m-2"
         [ngClass]="{closed: res.reservationState === 'Closed', declined: res.reservationState === 'Declined'}">
      <div class="date-text col-1">{{res.dateFromString}}<br>-<br>{{res.dateToString}}</div>

      <div class="conversation-ad-section d-flex justify-content-between align-items-center w-100 pe-2 h-100"
           (click)="reservationClicked(res)">
        <img src="https://localhost:44377/images{{res.advertisement.imageLocation}}" class="img-ad m-1" alt="...">
        <div class="w-100 ps-4 pe-4">
          <h5 class="title pt-2 mb-2">{{res.advertisement?.title}}</h5>
          <div class="d-flex justify-content-between">
            <p class="ad-details">{{res.advertisement?.location}}</p>
            <p class="ad-details">{{res.advertisement?.price}} Ft</p>
          </div>
        </div>
        <div class="d-flex profile-info-sm align-items-center col-lg-4 ps-2"
             (click)="userClicked(res.user)">
          <div class="vertical-line"></div>
          <div class="me-4">
            <img class="img-profile-sm" src="https://localhost:44377/images/OLASDGREFDDLLWER.jpg">
          </div>
          <div>
            <p class="user-name">{{res.user.name}}</p>
            <p><i class="fa fa-star me-2"></i>as advertiser: {{res.user.evaluationAsAdvertiser}} ({{res.user.evaluationAsAdvertiserCount}} vote)</p>
            <p><i class="fa fa-star me-2"></i>as lender: {{res.user.evaluationAsLender}} ({{res.user.evaluationAsLenderCount}} vote)</p>
          </div>
        </div>
      </div>
      <div class="col-1 actions text-center">
        <div *ngIf="res.reservationState === 'Created'">
          <button class="btn btn-success btn-sm m-1 w-100" (click)="accept(res.id)">Accept</button>
          <button class="btn btn-info btn-sm m-1 w-100" (click)="decline(res.id)">Decline</button>
        </div>
        <div *ngIf="res.reservationState === 'Accepted'">
          <button class="btn btn-success btn-sm m-1 w-100" (click)="open(evaluationPopUp, res)">Close</button>
          <div>
            <ng-template #evaluationPopUp let-modal>
              <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body d-flex justify-content-center">
                <app-evaluation-popup class="w-100"
                                      [userTo] = res.user
                                      [advertisementId] = res.advertisement.id
                                      [reservationId] = res.id
                                      [isLender] = false
                                      (evaluationAdvertiser)="submitEvaluationAdvertiser($event)"
                                      (evaluationLender)="submitEvaluationLender($event)">
                </app-evaluation-popup>
              </div>
            </ng-template>
          </div>
        </div>
        <div *ngIf="res.reservationState === 'Declined'">
          <p>Declined</p>
        </div>
        <div *ngIf="res.reservationState === 'Resigned'">
          <p>Resigned</p>
        </div>
        <div *ngIf="res.reservationState === 'Closed'">
          <p>Closed</p>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-success-long d-flex mt-2 mb-2" (click)="showUsers = !showUsers">
    <p class="m-1">My reservations</p>
    <i [hidden]="showUsers" class="fa fa-angle-right m-1 fa-lg"></i>
    <i [hidden]="!showUsers" class="fa fa-angle-down m-1 fa-lg"></i>
  </button>

  <div *ngIf="loadingUsersReservations && showUsers" class="d-flex justify-content-center">
    <div class="spinner-border m-2" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="!loadingUsersReservations && showUsers" class="card-container d-flex flex-wrap justify-content-between" >
    <div *ngFor="let res of usersReservations" class="w-100 d-flex justify-content-between align-items-center m-2"
         [ngClass]="{closed: res.reservationState === 'Closed', declined: res.reservationState === 'Declined'}">
      <div class="date-text col-1">{{res.dateFromString}}<br>-<br>{{res.dateToString}}</div>
      <div class="conversation-ad-section d-flex justify-content-between align-items-center w-100 pe-2"
           (click)="reservationClicked(res)">
        <img src="https://localhost:44377/images{{res.advertisement.imageLocation}}" class="img-ad m-1" alt="...">
        <div class="w-100 ps-4 pe-4">
          <h5 class="title pt-2 mb-2">{{res.advertisement?.title}}</h5>
          <div class="d-flex justify-content-between">
            <p class="ad-details">{{res.advertisement?.location}}</p>
            <p class="ad-details">{{res.advertisement?.price}} Ft</p>
          </div>
        </div>
      </div>
      <div class="col-1 actions text-center">
        <div *ngIf="res.reservationState === 'Created'">
          <button class="btn btn-info btn-sm m-1 w-100" (click)="resign(res.id)">Resign</button>
        </div>
        <div *ngIf="res.reservationState === 'Accepted'">
          <button class="btn btn-success btn-sm m-1 w-100" (click)="open(evaluationPopUp, res)">Close</button>
          <div>
            <ng-template #evaluationPopUp let-modal>
              <div class="modal-header">
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body d-flex justify-content-center">
                <app-evaluation-popup class="w-100"
                                      [userTo] = res.advertisement.user
                                      [advertisementId] = res.advertisement.id
                                      [reservationId] = res.id
                                      [isLender] = false
                                      (evaluationAdvertiser)="submitEvaluationAdvertiser($event)"
                                      (evaluationLender)="submitEvaluationLender($event)">
                </app-evaluation-popup>
              </div>
            </ng-template>
          </div>
        </div>
        <div *ngIf="res.reservationState === 'Declined'">
          <p>Declined</p>
        </div>
        <div *ngIf="res.reservationState === 'Resigned'">
          <p>Resigned</p>
        </div>
        <div *ngIf="res.reservationState === 'Closed'">
          <p>Closed</p>
        </div>
      </div>
    </div>
  </div>



</div>


<ng-template #datepicker let-date let-focused="focused" let-disabled="disabled">

  <span class="custom-day"
        [class.focused]="focused"
        [class.not-in-this-month]="notInThisMonth(date)"
        [class.reserved-by-user]="reservedByUser(date)"
        [class.reserved-to-user]="reservedToUser(date)"
        [class.reserved-both]="reservedToUser(date) && reservedByUser(date)">
    {{ date.day }}
  </span>
</ng-template>
