<nav class="navbar navbar-expand-lg navbar-dark background-d " >
  <div class="container-fluid col-lg-8 space-between">
    <a class="navbar-brand" href="#">
      <img src="assets/img/Lendship_logo.png" width="114.4px" height="35.2px" alt="" class="d-inline-block">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Advertisements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-user rounded-circle" width="30" height="30" ></i>
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
