<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border m-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container col-lg-10 d-flex justify-content-end mb-lg-5">
  <button class="btn btn-success">Scan QR Code</button>
</div>

<div>
  <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">
  </zxing-scanner>
  <button (click)="enableScanner()" *ngIf="!scannerEnabled" type="button" class="btn btn-success">LEER
    OTRO</button>
</div>

<h3 class="kt-callout__desc">
  {{information}}
</h3>

<div *ngIf="!loading" class="container-fluid form-container col-lg-10">
  <span *ngIf="reservations.length == 0">You don't have reservations in the next days</span>
  <div>
    <h3 class="text-center">Select reservation to get QR Code for it!</h3>
    <h6 class="text-center">Choose if you are start lending or closing the transaction</h6>
    <div  *ngIf="reservations.length != 0" class="d-flex align-items-center justify-content-center">
      <input id="isClosing" type="checkbox" (click)="setClosing()" [value]=closing class="m-4 w-auto filled-in" checked>
      <label for="isClosing">Closing transaction</label>
    </div>
    <div *ngFor="let res of reservations" (click)="getReservationToken(res)" [ngClass]="res.isOwn ? 'own' : 'notOwn' " class="reservation-section d-flex justify-content-between align-items-center mb-4 p-3">
      <div class="conversation-name me-4">{{res.advertisementName}}</div>
      <div class="conversation-name me-4">{{res.dates}}</div>
    </div>
  </div>
</div>
