<nav class="navbar navbar-expand-xl navbar-dark background-d " >
  <div class="container-fluid col-lg-10 space-between">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/img/Lendship_logo.png" width="114.4px" height="35.2px" alt="" class="d-inline-block">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a class="nav-link home-button" [routerLinkActive]="['active']" aria-current="page" [routerLink]="['home']" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">Home</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a class="nav-link advertisements-button" [routerLinkActive]="['active']" [routerLink]="['advertisements']" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">Advertisements</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a class="nav-link reservations-button" [routerLinkActive]="['active']" [routerLink]="['reservations']"  data-bs-toggle="collapse" data-bs-target="#navbarNav.show">Reservations</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a class="nav-link msg-button" [routerLinkActive]="['active']" [routerLink]="['conversations']" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
            Messages
            <span *ngIf="(messagesCount | async) != null" class="badge rounded-pill badge-notification bg-danger" style="margin: -5px; position: absolute">{{ messagesCount | async}}</span>
          </a>

        </li>
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a class="nav-link news-button" [routerLinkActive]="['active']" [routerLink]="['notifications']" (click)="removeNewNotifications()" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
            <i class="fa-solid fa-bell" ></i>
            <span *ngIf="(notificationCount | async) != null" class="badge rounded-pill badge-notification bg-danger" style="margin: -5px; position: absolute">{{notificationCount | async}}</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a class="nav-link qrcode-button" [routerLinkActive]="['active']" [routerLink]="['qrcode']" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
            <i class="fa-solid fa-qrcode"></i>
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link login-button" [routerLinkActive]="['active']" [routerLink]="[nameUrl]" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
            <i *ngIf="image.length == 0; else elseBlock" class="fa fa-user rounded-circle" width="30" height="30"></i>
            <ng-template #elseBlock>
              <img class="rounded-circle oversize" width="30" height="30" style="object-fit: cover" src="{{baseUrl}}images/profile{{image}}">
            </ng-template>

            <span [textContent]="name"></span>
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a class="nav-link login-button" [routerLink]="['home']" (click)="logout()" data-bs-toggle="collapse" data-bs-target="#navbarNav.show">
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
