@import "src/styles/colors.scss";
@import "src/styles/buttons.scss";
@import "src/styles/profile-infos";

.gallery {
  max-width: 50%;
  height: auto;
}

th {
  font-weight: normal;
}

p {
  text-align: justify;
}
