<div *ngIf="ad === undefined" class="d-flex justify-content-center">
  <div class="spinner-border m-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="ad" class="container col-lg-10">
  <div class="d-flex justify-content-between">
    <div class="d-flex profile-info align-items-center mt-2 mb-lg-4" (click)="goToProfile(ad.user.id)">
      <div class="me-4">
        <img *ngIf="ad.user.image === undefined; else elseBlock" class="rounded-circle img-profile" style="object-fit: cover" src="https://localhost:44377/images/blank.jpg">
        <ng-template #elseBlock>
          <img class="rounded-circle img-profile" style="object-fit: cover" src="{{baseUrl}}images/profile{{ad.user.image}}">
        </ng-template>
      </div>
      <div>
        <p class="user-name">{{ad.user.name}}</p>
        <p><i class="fa fa-star me-2"></i>as advertiser: {{ad.user.evaluationAsAdvertiser}} ({{ad.user.evaluationAsAdvertiserCount}} vote)</p>
        <p><i class="fa fa-star me-2"></i>as lender: {{ad.user.evaluationAsLender}} ({{ad.user.evaluationAsLenderCount}} vote)</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <button *ngIf="isOwnAdvertisement" class="btn btn-success align-self-center m-1" (click)="edit()" ><i class="fa-solid fa-pen-to-square"></i></button>
      <button *ngIf="isOwnAdvertisement" class="btn btn-success align-self-center m-1" (click)="delete()" ><i class="fa-solid fa-trash"></i></button>
      <button *ngIf="!isOwnAdvertisement && !isSaved" class="btn btn-success align-self-center m-1" (click)="save()"><i class="fa-regular fa-star"></i></button>
      <button *ngIf="!isOwnAdvertisement && isSaved" class="btn btn-success align-self-center m-1" (click)="remove()"><i class="fa-solid fa-star"></i></button>
    </div>
 </div>

  <div class="bg-white align-content-center">
    <h3 class="text-center p-4">{{ad.title}}</h3>
    <div class="d-flex justify-content-between">
      <div>
        <table class="col-8 m-4">
          <tr>
            <th>Price:</th>
            <th>{{ad.price}} Ft</th>
          </tr>
          <tr>
            <th>Credit:</th>
            <th>{{ad.credit}}</th>
          </tr>
          <tr>
            <th>Deposit:</th>
            <th>{{ad.deposit}} Ft</th>
          </tr>
          <tr>
            <th>Location:</th>
            <th>{{ad.location}}</th>
          </tr>
        </table>
        <p class="m-4">{{ad.description}}</p>
      </div>

      <div class="gallery col-4 m-4">
        <img *ngFor="let image of ad.imageLocations" src="{{baseUrl}}images{{image}}" class="w-100">

      </div>
    </div>
    <div [hidden]="!ad.instructionManual" class="m-4">
      <p>Instruction manual:</p>
      <p>{{ad.instructionManual}}</p>
    </div>

    <div>
      <ng-template #reservePopup let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Choose reservation dates</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <app-reservation-popup
            [id] = id
            [availabilities] = ad.availabilities
            (reserveFrom)="reserveDateFrom($event)"
            (reserveTo)="reserveDateTo($event)">
          </app-reservation-popup>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Reserve')">Reserve</button>
        </div>
      </ng-template>
    </div>

    <div>
      <ng-template #sendMsgPopup let-modal>
        <div class="modal-header">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <app-message-popup class="w-100"
            [advertisementId] = id
            [advertisementName] = ad.title
            (msg)="msg($event)"
            (conversationId)="getConversationId($event)">
          </app-message-popup>
        </div>

        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Send')">Send</button>
      </ng-template>
    </div>

    <div class="d-flex justify-content-center p-2">
      <button *ngIf="!isOwnAdvertisement" class="btn btn-primary m-2" (click)="open(sendMsgPopup)">Send message</button>
      <button *ngIf="!isOwnAdvertisement" class="btn btn-primary m-2" (click)="open(reservePopup)">Reserve</button>
    </div>
  </div>
</div>
