<footer class="footer bottom mt-4">
  <div class="container">
    <div class="row">
      <div class="container col-lg-12 m-0 p-2 d-flex justify-content-between">
        <img src="../../../../assets/img/Lendship_logo.png" alt="" class="d-none d-md-inline-block">
        <a class="link-light align-bottom" aria-current="page" href="#">About</a>
        <div class="d-inline-block">
          <a><i class="fa fa-facebook-square fa-lg p-1" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
