<div *ngIf="isLoggedIn" class="card-container container d-flex flex-wrap col-lg-10 justify-content-between">

  <div *ngFor="let ad of ads" class="card m-3" style="width: 18rem; height: 22rem" (click)="cardClicked(ad.id)">
    <img src="https://localhost:44377/images{{ad.imageLocation}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ad.title}}</h5>
      <div class="d-flex justify-content-between mt-4 mb-0">
        <p class="ad-details">{{ad.location}}</p>
        <p class="ad-details">{{ad.price}} Ft</p>
      </div>
    </div>
  </div>

</div>
