<div class="container-fluid form-container col-12 col-md-10 col-lg-8 d-flex justify-content-center">
  <div class="container px-lg-5">
    <h1 class="text-center mb-5 mt-2">Registration</h1>
    <form class="align-items-start m-0 m-md-4" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="d-sm-flex justify-content-sm-between mt-4">
        <label class="col-12 col-sm-4" for="name">Username:</label>
        <span class="col-12 col-sm-8">
          <input id="name" type="text" formControlName="name" placeholder="Username" class="w-100">
        </span>
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!name?.valid && (name?.dirty || name?.touched)">
          <div [hidden]="!name?.errors?.['required']">
            <p class="form-error m-0">Username is required.</p>
          </div>
        </div>
      </div>


      <div class="d-sm-flex justify-content-sm-between mt-4">
        <label class="col-12 col-sm-4" for="email">Email address:</label>
        <span class="col-12 col-sm-8">
          <input id="email" type="text" formControlName="email" placeholder="Email address" class="w-100">
        </span>
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!email?.valid && (email?.dirty || email?.touched)">
          <div [hidden]="!email?.errors?.['required']">
            <p class="form-error m-0">Email is required.</p>
          </div>
          <div [hidden]="email?.errors?.['required'] || !email?.errors?.['email']">
            <p class="form-error m-0">Not valid email.</p>
          </div>
        </div>
      </div>

      <div class="d-sm-flex justify-content-sm-between mt-4">
        <label class="col-12 col-sm-4" for="location">Location:</label>
        <span class="col-12 col-sm-8">
          <input id="location" type="text" formControlName="location" placeholder="Location" class="w-100">
        </span>
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end">
          <p class="form-info m-0">This information is private, no one will see it.</p>
        </div>
        <div class="d-flex justify-content-end" *ngIf="!location?.valid && (location?.dirty || location?.touched)">
          <div [hidden]="!location?.errors?.['required']">
            <p class="form-error m-0">Location is required.</p>
          </div>
          <div [hidden]="location?.errors?.['required'] || !location?.errors?.['locationValidator']">
            <p class="form-error m-0">Invalid location.</p>
          </div>
        </div>
      </div>

      <div class="d-sm-flex justify-content-sm between">
        <label class="col-12 col-sm-4" for="password">Password:</label>
        <span class="col-12 col-sm-8">
          <input id="password" type="password" formControlName="password" placeholder="Password" class="w-100">
        </span>
      </div>
      <div class="error mb-4">
        <div class="error d-flex justify-content-end" *ngIf="!password?.valid && (password?.dirty || password?.touched)">
          <div [hidden]="!password?.errors?.['required']">
            <p class="form-error m-0">Password is required.</p>
          </div>
          <div [hidden]="password?.errors?.['required'] || !password?.errors?.['minlength']">
            <p class="form-error m-0">Password must be minimum 6 character long.</p>
          </div>
          <div [hidden]="password?.errors?.['minlength'] || password?.errors?.['required'] || !password?.errors?.['pattern']">
            <p class="form-error m-0">Password must contain uppercase, lowercase letters, number, special character.</p>
          </div>
        </div>
      </div>

      <div class="d-sm-flex justify-content-sm between">
        <label class="col-12 col-sm-4" for="confirmPassword">Confirm password:</label>
        <span class="col-12 col-sm-8">
          <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Password" class="w-100">
        </span>
      </div>
      <div class="error mb-4">
        <div class="error d-flex justify-content-end" *ngIf="!confirmPassword?.valid && (confirmPassword?.dirty || confirmPassword?.touched)">
          <div [hidden]="!confirmPassword?.errors?.['required']">
            <p class="form-error m-0">Password must be repeated.</p>
          </div>
          <div [hidden]="confirmPassword?.errors?.['required'] || !confirmPassword?.errors?.['minlength']">
            <p class="form-error m-0">Password must be minimum 6 charachter long.</p>
          </div>
          <div [hidden]="confirmPassword?.errors?.['minlength'] || confirmPassword?.errors?.['required'] || !confirmPassword?.errors?.['pattern']">
            <p class="form-error m-0">Password must contain upper and lowcase letters, number, special character.</p>
          </div>
        </div>
      </div>

      <app-file-upload (files)="addFile($event)" ></app-file-upload>
      <div *ngIf="newImageName !== undefined" class="date-section d-flex text-center align-items-center align-items-center justify-content-between">
        <p class="mb-0">{{newImageName}}</p>
        <button class="btn btn-primary m-0" (click)="removeNewImage()"><i class="fa-solid fa-circle-minus"></i></button>
      </div>

      <p *ngIf="error.length > 0" class="d-flex justify-content-center mt-4 text-danger">
        {{ error }}
      </p>
      <p *ngIf="!submitting" class="d-flex justify-content-center mt-4">
        <button class="btn btn-info" type="submit" [disabled]="!registrationForm.valid">Register</button>
      </p>
      <div *ngIf="submitting" class="d-flex justify-content-center">
        <div class="spinner-border m-2" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form>
  </div>
</div>
