@import "src/styles/forms";

.textarea {
  width: 200%;
}


.availability-section {
  color: white;
  background-color: $color-info;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.date-section {
  background-color: $color-primary;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.2rem;
}
