<div class="container-fluid form-container col-lg-10">
  <div *ngIf="id == 0" class="px-lg-5">
    <h1 class="text-center mb-5 mt-2">{{mode}}</h1>
    <form class="align-items-start m-4" [formGroup]="advertisementForm" (ngSubmit)="onSubmit()">

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="title">Title:</label>
        <input id="title" type="text" formControlName="title" placeholder="Title">
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!title?.valid && (title?.dirty || title?.touched)">
          <div [hidden]="!title?.errors?.['required']">
            <p class="form-error m-0">Title is required.</p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="price">Price:</label>
        <input id="price" type="number" formControlName="price" placeholder="1000">
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!price?.valid && (price?.dirty || price?.touched)">
          <div [hidden]="!price?.errors?.['pattern']">
            <p class="form-error m-0">Not a number.</p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="credit">Credit:</label>
        <input id="credit" type="number" formControlName="credit" placeholder="1000">
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!credit?.valid && (credit?.dirty || credit?.touched)">
          <div [hidden]="!credit?.errors?.['pattern']">
            <p class="form-error m-0">Not a number.</p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="deposit">Deposit:</label>
        <input id="deposit" type="number" formControlName="deposit" placeholder="1000">
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!deposit?.valid && (deposit?.dirty || deposit?.touched)">
          <div [hidden]="!deposit?.errors?.['pattern']">
            <p class="form-error m-0">Not a number.</p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="description">Description:</label>
        <textarea class="col-lg-8" rows="3" id="description"  type="text" formControlName="description" placeholder="Description"></textarea>
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!description?.valid && (description?.dirty || description?.touched)">
          <div [hidden]="!description?.errors?.['required']">
            <p class="form-error m-0">Description is required.</p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="instructionManual">Instruction manual:</label>
        <textarea class="col-lg-8" rows="3" id="instructionManual" type="text" formControlName="instructionManual" placeholder="Instruction manual"></textarea>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="location">Location:</label>
        <input id="location" type="text" formControlName="location" placeholder="Location">
      </div>
      <div class="error mb-4">
        <div class="d-flex justify-content-end">
          <p class="form-info m-0">This information is private, no one will see it.</p>
        </div>
        <div class="d-flex justify-content-end" *ngIf="!location?.valid && (location?.dirty || location?.touched)">
          <div [hidden]="!location?.errors?.['required']">
            <p class="form-error m-0">Location is required.</p>
          </div>
          <div [hidden]="location?.errors?.['required'] || !location?.errors?.['locationValidator']">
            <p class="form-error m-0">Invalid location.</p>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <label class="col-lg-4" for="category">Category:</label>

        <ng-autocomplete
          id="category" type="text" formControlName="category" placeholder="Category"
          [data]="categories"
          [searchKeyword]="categoryKeyword"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>

      <div class="error mb-4">
        <div class="d-flex justify-content-end" *ngIf="!category?.valid && (category?.dirty || category?.touched)">
          <div [hidden]="!category?.errors?.['required']">
            <p class="form-error m-0">Location is required.</p>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <input formControlName="isPublic" id="isPublic" type="checkbox"  class="me-2 ms-0 w-auto filled-in">
        <label for="isPublic">Public</label>
      </div>

      <div class="availability-section mt-4">
        <div class="d-flex align-items-center justify-content-between ps-4 pe-4 pt-2 pb-2">
          <p class="form-info m-0">Add availabilities</p>
          <button class="btn btn-primary" type='button' (click)="open(reservePopup)"><i class="fa-solid fa-calendar-plus"></i></button>
        </div>

        <div *ngFor="let av of availabilities; let i = index" class="date-section d-flex align-items-center align-items-center justify-content-between">
          <p class="form-info m-0 p-2">{{av.dateFrom}} - {{av.dateTo}}</p>
          <button class="btn btn-primary m-0" (click)="removeAvailability(i)"><i class="fa-solid fa-circle-minus"></i></button>
        </div>
      </div>

      <app-file-upload (files)="addFile($event)" ></app-file-upload>
      <div *ngFor="let file of newImageNames; let i = index" class="date-section d-flex text-center align-items-center align-items-center justify-content-between">
        <p class="mb-0">{{file}}</p>
        <button class="btn btn-primary m-0" (click)="removeNewImage(i)"><i class="fa-solid fa-circle-minus"></i></button>
      </div>
      <div *ngFor="let file of advertisement?.imageLocations; let i = index" class="date-section d-flex align-items-center align-items-center justify-content-between">
        <img src="https://localhost:44377/images{{file}}" class="col-2">
        <button class="btn btn-primary m-0" (click)="removeImage(i)"><i class="fa-solid fa-circle-minus"></i></button>
      </div>

      <p *ngIf="error" class="form-error m-0">{{error}}</p>
      <p class="d-flex justify-content-center mt-4">
        <button class="btn btn-info" type="submit" [disabled]="!advertisementForm.valid">Send</button>
      </p>
    </form>
  </div>
</div>

<ng-template #reservePopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select availability interval</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <app-create-popup
      (reserveFrom)="reserveDateFrom($event)"
      (reserveTo)="reserveDateTo($event)">
    </app-create-popup>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Add')">Add</button>
  </div>
</ng-template>
