<div *ngIf="user === undefined" class="d-flex justify-content-center">
  <div class="spinner-border m-2" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="user !== undefined" class="container col-lg-10">
  <div class="d-flex profile-info align-items-center justify-content-center mt-2 mb-lg-4">
    <div class="me-4">
      <img *ngIf="user.image != null; else imgProfile" class="img-profile" src="{{baseUrl}}images/profile{{user.image}}" alt="">
      <ng-template #imgProfile>
        <img class="img-profile" src="{{baseUrl}}images/profile{{baseImage}}">
      </ng-template>
    </div>
    <div>
      <p class="user-name">{{user.name}}</p>
      <p><i class="fa fa-star me-2"></i>as advertiser: {{user.evaluationAsAdvertiser}} ({{user.evaluationAsAdvertiserCount}} vote)</p>
      <p><i class="fa fa-star me-2"></i>as lender: {{user.evaluationAsLender}} ({{user.evaluationAsLenderCount}} vote)</p>
      <p *ngIf="isOwn" class="mt-2">
        <i *ngIf="!user.emailNotification" class="fa-solid fa-x"></i>
        <i *ngIf="user.emailNotification" class="fa fa-check"></i>
        Email notifications
      </p>
      <h4  *ngIf="isOwn"  class="m-1 lead">Credits: {{user.credit}}</h4>
    </div>
  </div>
  <div class="text-center">
    <p *ngIf="user.location">
      <i class="fa-solid fa-location-dot"></i>
      {{user.location}}
    </p>
  </div>

  <div>
    <button class="btn-success-long d-flex mt-2 mb-0" (click)="loadAdvertiserEvaluations()">
      <p class="m-1">Evaluation as advertiser</p>
      <i [hidden]="showAdvertiserEvaluations" class="fa fa-angle-right m-1 fa-lg"></i>
      <i [hidden]="!showAdvertiserEvaluations" class="fa fa-angle-down m-1 fa-lg"></i>
    </button>

    <div *ngIf="showAdvertiserEvaluations" class="evaluationSection pb-2">
      <p class="text-center sum p-2">{{user.evaluationAsAdvertiser}} (from {{user.evaluationAsAdvertiserCount}} vote)</p>

      <div class="d-flex justify-content-between w-25 m-auto">
        <p class="sum m-0">Flexibility</p>
        <p class="sum m-0">{{user.evaluation?.advertiserFlexibility}}</p>
      </div>
      <div class="d-flex justify-content-between w-25 m-auto">
        <p class="sum m-0">Reliability</p>
        <p class="sum m-0">{{user.evaluation?.advertiserReliability}}</p>
      </div>
      <div class="d-flex justify-content-between w-25 m-auto">
        <p class="sum m-0">Quality of product</p>
        <p class="sum m-0">{{user.evaluation?.advertiserQualityOfProduct}}</p>
      </div>

      <div *ngFor="let ev of evaluationsAdvertiser" class="evSection p-2 m-4">
        <div>
          <div class="d-flex profile-info justify-content-start align-items-center mt-2 mb-lg-4">
            <div class="me-4">
              <img *ngIf="!ev.isAnonymous; else anonymImgAdvertiser" class="img-profile-sm" src="{{baseUrl}}images/profile/{{ev.userFrom.image}}" alt="">
              <ng-template #anonymImgAdvertiser>
                <img class="img-profile-sm" src="{{baseUrl}}images/profile/{{baseImage}}" alt="">
              </ng-template>
            </div>
            <div>
              <p *ngIf="!ev.isAnonymous; else anonymAdvertiser" class="user-name-m">{{ev.userFrom.name}}</p>
              <ng-template #anonymAdvertiser>
                <p  class="user-name-m">Anonymous</p>
              </ng-template>
              <p>{{ev.creationFormatted}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div>
              <div class="stars d-flex justify-content-between bg-white ps-2 pe-2 m-1" >
                <p class="mb-0">Flexibility</p>
                <div>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 0 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 1 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 2 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 3 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 4 ? 'fa-solid' : 'fa-regular'"></i>
                </div>
              </div>

              <div class="stars d-flex justify-content-between bg-white ps-2 pe-2 m-1" >
                <p class="mb-0">Reliability</p>
                <div>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 0 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 1 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 2 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 3 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 4 ? 'fa-solid' : 'fa-regular'"></i>
                </div>
              </div>

              <div class="stars d-flex justify-content-between bg-white ps-2 pe-2 m-1" >
                <p class="mb-0">Quality of product</p>
                <div>
                  <i class="fa-star me-2" [ngClass]="ev.qualityOfProduct > 0 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityOfProduct > 1 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityOfProduct > 2 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityOfProduct > 3 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityOfProduct > 4 ? 'fa-solid' : 'fa-regular'"></i>
                </div>
              </div>
            </div>
          </div>

          <div  *ngIf="ev.comment !== undefined" class="comment d-flex p-2 mt-2">
            <p class="pe-5">Comment:</p>
            <p>{{ev.comment}}</p>
          </div>
        </div>
      </div>
    </div>

    <button class="btn-success-long d-flex mt-2 mb-2" (click)="loadLenderEvaluations()">
      <p class="m-1">Evaluation as lender</p>
      <i [hidden]="showLenderEvaluations" class="fa fa-angle-right m-1 fa-lg"></i>
      <i [hidden]="!showLenderEvaluations" class="fa fa-angle-down m-1 fa-lg"></i>
    </button>

    <div *ngIf="showLenderEvaluations" class="evaluationSection pb-2">
      <p class="text-center sum p-2">{{user.evaluationAsLender}} (from {{user.evaluationAsLenderCount}} vote)</p>

      <div class="d-flex justify-content-between w-25 m-auto">
        <p class="sum m-0">Flexibility</p>
        <p class="sum m-0">{{user.evaluation?.lenderFlexibility}}</p>
      </div>
      <div class="d-flex justify-content-between w-25 m-auto">
        <p class="sum m-0">Reliability</p>
        <p class="sum m-0">{{user.evaluation?.lenderReliability}}</p>
      </div>
      <div class="d-flex justify-content-between w-25 m-auto">
        <p class="sum m-0">Quality at return</p>
        <p class="sum m-0">{{user.evaluation?.lenderQualityAtReturn}}</p>
      </div>

      <div *ngFor="let ev of evaluationsLender" class="evSection p-2 m-4">
        <div>
          <div class="d-flex profile-info justify-content-start align-items-center mt-2 mb-lg-4">
            <div class="me-4">
              <img *ngIf="!ev.isAnonymous; else anonymImgLender" class="img-profile-sm" src="{{baseUrl}}images/profile/{{ev.userFrom.image}}" alt="">
              <ng-template #anonymImgLender>
                <img class="img-profile-sm" src="{{baseUrl}}images/profile/{{baseImage}}" alt="">
              </ng-template>
            </div>
            <div>
              <p *ngIf="!ev.isAnonymous; else anonymLender" class="user-name-m">{{ev.userFrom.name}}</p>
              <ng-template #anonymLender>
                <p class="user-name-m">Anonymous</p>
              </ng-template>
              <p>{{ev.creationFormatted}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div>
              <div class="stars d-flex justify-content-between bg-white ps-2 pe-2 m-1" >
                <p class="mb-0">Flexibility</p>
                <div>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 0 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 1 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 2 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 3 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.flexibility > 4 ? 'fa-solid' : 'fa-regular'"></i>
                </div>
              </div>

              <div class="stars d-flex justify-content-between bg-white ps-2 pe-2 m-1" >
                <p class="mb-0">Reliability</p>
                <div>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 0 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 1 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 2 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 3 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.reliability > 4 ? 'fa-solid' : 'fa-regular'"></i>
                </div>
              </div>

              <div class="stars d-flex justify-content-between bg-white ps-2 pe-2 m-1" >
                <p class="mb-0">Quality at return</p>
                <div>
                  <i class="fa-star me-2" [ngClass]="ev.qualityAtReturn > 0 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityAtReturn > 1 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityAtReturn > 2 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityAtReturn > 3 ? 'fa-solid' : 'fa-regular'"></i>
                  <i class="fa-star me-2" [ngClass]="ev.qualityAtReturn > 4 ? 'fa-solid' : 'fa-regular'"></i>
                </div>
              </div>
            </div>
          </div>

          <div  *ngIf="ev.comment != undefined" class="comment d-flex p-2 mt-2">
            <p class="pe-5">Comment:</p>
            <p>{{ev.comment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

